*.d
*.o
*.crf
*.def
*.dep
*.bin
*.axf
*.lnp
*.sct
*.iex
*.htm
*.html
*.png
*.js
*.lst
*.map
*.hex
*.bak
*.cesar

*.i
*._ip
*.__i
*._2i
*._ia
*.l2p
*.fed
*.out
*.plg
*.tra
*.ver
*.Administrator
*.scvd
*.uvoptx
*.dbgconf

##########
JLinkLog.txt
JLinkSettings.ini
*.uvguix.*

##########
*.code-workspace
*.history/

